body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    gap: 20px;
    margin: 0;
    padding-top: 20px;
    overflow: hidden;
}

.large-button {
    width: 500px;
     height: 7vh;
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 10px; 
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

li {
    border-radius: 10px;
}

.large-button:hover {
    background-color: #0056b3;
    color: #d4d4d4;
}

.bottom-buttons {
    position: fixed;
    bottom: 20px;
    display: flex;
    gap: 20px;
    height: 10%;
}

.small-button {
    width: 240px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.small-button:hover {
    background-color: #0056b3;
    color: #d4d4d4;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Space between buttons */
    margin-top: 20px;
    /* Optional spacing above the row */
}

.redirect {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.redirect:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #999999;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    height: auto;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalButton {
    width: 40%;
    height: 25%;
    min-height: 50px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    background-color: #007bff;
    border: none;
    /* border: 2px solid #007bff; */
    transition: background-color 0.3s, color 0.3s;
}

.saveButton {
    background-color: blue;
    color: white;
    width: 50%;
    margin-top: 20px;
}

.scaleBtn {
    background-color: #007bff;
    color: white;
    width: 50%;
    margin-top: 20px;
}

.button-container {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#scaleUpBtn {
    background-color: green;
}

#scaleDownBtn {
    background-color: red;
}

#moveUpBtn {
    background-color: #4caf50;
}

#moveDownBtn {
    background-color: #eb5454;
}

#noBtn {
    background-color: red;
}

#yesBtn {
    background-color: #007bff;
}

.text {
    font-size: larger;
    margin-bottom: 20px;
}

  ul {
    list-style: none;
    padding: 0;
    margin-top: -12px;
    margin-bottom: 0px;
  }
  li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Center the button */
    background-color: #999999;
  }
.gameBtn {
    width: 450px
}

  /* a:hover {
    background-color: #0056b3;
  } */

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #121212 !important;
    }

    .modal-content {
        color: #999999;
        background-color: #121212;
    }

}