@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&display=swap');

.xcentered {
  position: relative;
  top: 50%;
  /* left: 50%; */
  transform: translate(0, -50%);
}

.centered img {
  max-width: 100%; /* Set maximum width of image */
  max-height: 100%; /* Set maximum height of image */
  height: auto; /* Maintain aspect ratio */
  width: auto;
  display: inline-block; /* Make image inline to center with text-align */
}
body {
  overflow: hidden;
}

.status-bar-container {
  width: 100%;
  height: 5px; /* Adjust height as needed */
  /* bottom: -20px; */
  position: absolute;
  bottom: 21%;
}

.status-bar {
  width: 5%;
  height: 5px; /* Adjust height as needed */
  background-color: #303030; /* Default background color */
  right: 63.5%; /* Move right by 20% of the total width */

  /* transform: translate(-50%, -50%); */
  position: absolute;
}

#status-bar-fill {
  height: 100%;
  background-color: red; /* Color of the filled portion */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 15%;
}

#status-bar-fill-white {
  height: 100%;
  background-color: white; /* Color of the filled portion */
  position: absolute;
  left: 15%; /* Set the width of the red portion */
  top: 0;
  width: 85%;
  z-index: 0;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.gear-container {
  height: 18; /* Adjust height as needed */
  /* bottom: -20px; */
  width: 200px;
  position: absolute;
  left: 78%;
  bottom: 45%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#gear {
  font-size: 600%;
  color: #207dde;
  font-family: "Noto Sans";
  font-weight: 600;
}

#gearmode {
  font-size: 150%;
  /* color: #d0c5c3; */
  font-family: "Noto Sans";
  bottom: -10px;
  position: absolute;
  color: #dedede;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.container-time {
  height: 18; /* Adjust height as needed */
  /* bottom: -20px; */
  width: 200px;
  left: 77.5%;
  top: 20%;
}

.time {
  font-size: 200%;
  color: #d0c5c3;
  font-family: "Noto Sans";
  font-weight: 600;
  display: contents;
}

#best-time{
  display: none;
}

.container-best-time {
  height: 18; /* Adjust height as needed */
  /* bottom: -20px; */
  width: 200px;
  right: 75%;
  top: 20%;
}

.container-speed {
  height: 20%;
  width: 15%;
    position: absolute;
    /* display: inline-block; */
    /* background-color: red; */
    bottom: 37%;
    left: 43%;
}

.reflect{
  -webkit-box-reflect: below -45px linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,.05) 50%, rgba(0,0,0,0) 100%);
}

#speed{
  font-family: "Noto Sans";
  font-size: 550%;
  font-weight: 600;
  color: #dedede;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#mph{
  font-size: 120%;
  position: absolute;
  font-family: "Noto Sans";
  color: #dedede;
  left: 93.5%;
  bottom: 20%;
}

.container-distance {
  height: 20%;
  width: 15%;
    position: absolute;
    bottom: 12.5%;
    right: 25%;
}
#distance {
  font-size: 150%;
  color: #d0c5c3;
  font-family: "Noto Sans";
  font-weight: 500;
  display: contents;
}

.grid-container-container {
  position: absolute;
  width: 48%; 
  left: 1.5%; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  height: 5%;
  top: 19%;
  background-color: #696969;
  z-index: -1;
}

.grid-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
  width: 100%;
}

.grid-item {
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-top: none;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 175%;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.grid-item:first-child{
  justify-content: flex-end;
  padding-right: 10%;
  grid-column: span 2;
  /* margin-left: 10%; */
}
.grid-item:last-child {
  justify-content: flex-start; 
  padding-left: 10%;
  grid-column: span 2;
}

/* .grid-container.over-ten .grid-item:first-child,
.grid-container.over-ten .grid-item:last-child {
  display: none;
} */

.rpmYellow {
  background-color: #ffdb28;
}

.rpmRed {
  background-color: #c90000;
}

#rpm {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  background-color: #00c721;
}

#rpm-yellow {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-color: #eada02;
}

#rpm-indicator {
  position: absolute;
  bottom: 0; 
  left: 14.5%; /* Position it at the center horizontally */
  width: .6%;
  height: 100%;
  background-color: rgb(200, 200, 200);
  border:1px solid #000;
}
