@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&display=swap');

.xcentered {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.size {
  width: 100%;
  height: 0;
  top: 60px;
  padding-bottom: 56.25%; 
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.centered img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: inline-block;
}
body {
  overflow: hidden;
}

.status-bar-container {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 21%;
}

.status-bar {
  width: 5%;
  height: 5px;
  background-color: #505050;
  right: 63.5%;
  position: absolute;
}

#status-bar-fill {
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 15%;
}

#status-bar-fill-white {
  height: 100%;
  background-color: white;
  position: absolute;
  left: 15%;
  top: 0;
  width: 85%;
  z-index: 0;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gear-container {
  height: 18;
  width: 200px;
  position: absolute;
  left: 78%;
  bottom: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gear {
  font-size: 550%;
  color: #207dde;
  font-family: "Noto Sans";
  font-weight: 600;
}

#gearmode {
  font-size: 150%;
  font-family: "Noto Sans";
  bottom: -10px;
  position: absolute;
  color: #dedede;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}


#container-time {
  height: 18;
  width: 200px;
  left: 77.5%;
  top: 20%;
  display: none;
}

#container-clock {
  height: 18;
  width: 200px;
  right: 76.5%;
  top: 75%;
  display: none;
}

.time {
  font-size: 200%;
  color: #d0c5c3;
  font-family: "Noto Sans";
  font-weight: 600;
  display: contents;
}

#container-best-time {
  height: 18;
  width: 200px;
  right: 76.5%;
  top: 20%;
  display: none;
}

.container-speed {
  height: 20%;
  width: 15%;
    position: absolute;
    bottom: 37%;
    left: 43%;
}

.reflect{
  -webkit-box-reflect: below -45px linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,.05) 50%, rgba(0,0,0,0) 100%);
}

#speed{
  font-family: "Noto Sans";
  font-size: 550%;
  font-weight: 600;
  color: #dedede;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#mph{
  font-size: 120%;
  position: absolute;
  font-family: "Noto Sans";
  color: #dedede;
  left: 93.5%;
  bottom: 20%;
}

.container-distance {
  height: 20%;
  width: 15%;
    position: absolute;
    bottom: 12.5%;
    right: 25%;
}
#distance {
  font-size: 150%;
  color: #d0c5c3;
  font-family: "Noto Sans";
  font-weight: 500;
  display: contents;
}

.grid-container-container {
  position: absolute;
  width: 48%; 
  left: 1.5%; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  height: 5%;
  top: 18.5%;
  background-color: #696969;
  z-index: -1;
}

.grid-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
  width: 100%;
}

.grid-item {
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-top: none;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 175%;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.grid-item::content{
  top:0
}

.grid-item:first-child{
  justify-content: flex-end;
  padding-right: 10%;
  grid-column: span 2;
}
.grid-item:last-child {
  justify-content: flex-start; 
  padding-left: 10%;
  grid-column: span 2;
}

.rpmYellow {
  background-color: #ffdb28;
}

.rpmRed {
  background-color: #c90000;
}

#rpm {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  background-color: #00c721;
}

#rpm-yellow {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-color: #eada02;
}

#rpm-indicator {
  position: absolute;
  bottom: 0; 
  left: 14.5%;
  width: .6%;
  height: 100%;
  background-color: rgb(200, 200, 200);
  border:1px solid #000;
}

.tire-container-container {
  position: absolute;
  width: 20%; 
  height: 20%;
  bottom: 25%;
}

.tire-container-container{
  margin: 20px auto;
  width:20%;
  height:20%;
  display:grid;
  grid-template-columns: 25% 25%;
  grid-row: auto auto;
  grid-column-gap: 20%;
  grid-row-gap: 20%;
  top: 28%;
  left: 6.5%;
}

.tire-container{
  background-color: #a7a7a7;
  border-radius:20%;
  display:flex;
  align-items:center;
  justify-content:center;
}


.tire-bar {
  position: absolute;
  width: 3%; 
  height: 50%;
  background-color: #505050;
}

.FL .tire-bar,
.RL .tire-bar {
  left: 9%; 
}

.FR .tire-bar,
.RR .tire-bar {
  right: 9%; 
}

#FRtire-bar-fill-red,
#FLtire-bar-fill-red,
#RRtire-bar-fill-red,
#RLtire-bar-fill-red {
  width: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 15%;
}

#FRtire-bar-fill-white,
#FLtire-bar-fill-white,
#RRtire-bar-fill-white,
#RLtire-bar-fill-white{
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 15%; 
  height: 85%;
  z-index: 0;
}

#load{
  background-color: #09080e;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  z-index: 10;
}


.position-container{
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 45%;
  top: 69%;
}
#position{
  color: #207dde;
  position: absolute;
  font-family: "Noto Sans";
  font-size: 250%;
  font-weight: 600;
  display: none;
}

.caution {
  width: 15%;
  padding-left: 3%;
  padding-right: 3%;
  top: 3px;
  position: relative;
}

#caution{
  display: none;
}

#traction{
  position: absolute;
  width: 3%;
  bottom: 30%;
  right: 2.5%;
  display: none;
}

#container-split {
  height: 18;
  width: 200px;
  left: 81%;
  top: 26%;
  display: inline-flex;
}

.split {
  font-size: 150%;
  display: none;
  width: 100%;
}
