<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
</head>

<body style="background-color: #09080e;">
</body>
<script>
  function redirectPage() {
  setTimeout(function() {
    window.location.href = window.location.href; // Replace 'https://example.com' with the URL you want to redirect to
    redirectPage(); // Call the function recursively to continuously redirect
  }, 1000); // 5000 milliseconds = 5 seconds
}

  redirectPage(); // Call the function to start the continuous redirection
</script>
</html>