<!DOCTYPE html>
<html lang="en">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>

<head>
    <meta charset="UTF-8">
    <title>Forza Telemetry Data</title>
    <!-- Plotly.js -->
    <link rel="stylesheet" type="text/css" href="css/golfr-style.css" />
</head>

<body style="background-color: #09080e;">
  <div id="shift-light-container"></div>
  <div class="centered" id="all">
    <div class="centered size">
      <div class="content">
        <div id="position-container" class="container position-container">
          <div id="position"></div>
        </div>

        <div id="rpm-container" class="grid-container-container">
          <div id="rpm"></div>
          <div id="rpm-yellow"></div>
          <div class="grid-container">
            <div class="grid-item">0</div>
            <div class="grid-item">1</div>
            <div class="grid-item">2</div>
            <div class="grid-item">3</div>
            <div class="grid-item">4</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>
            <div class="grid-item rpmRed">7</div>
            <div class="grid-item rpmRed">8</div>
          </div>
          <div id="rpm-indicator"></div>
        </div>
        <img src="img/dash-background.png" alt="dash">
        <!-- Gas -->
        <div id="fuel-container" class="fuel-container">
          <div class="fuel">
            <div id="fuel-fill"></div>
            <div id="fuel-fill-white"></div>
          </div>
        </div>
        
        <!-- Gear -->
        <div id="gear-container" class="gear-container">
          <div id="gear">N</div>
          <div id="gearmode"> Race</div>
        </div>
        
        <!-- time -->
        <div class="container" id="container-time">
          <div class="caution" id="caution-time">
            <img id="caution" src="img/caution.png"/>
          </div>
          <div class="time" id="time">00:00:00</div>
        </div>
        <div class="container" id="container-best-time">
          <div class="time" id="best-time">00:00:00</div>
        </div>
        <div class="container" id="split-container">
          <div class="time split" id="split">-00:00</div>
        </div>

        <!-- speed -->
        <div id="speed-container" class="container container-speed">
          <div class="reflect">
            <div id="speed">0</div>
          </div>
          <div id="mph">mph</div>
        </div>
        
        <div id="distance-container" class="container container-distance">
          <div id="distance">0 mi</div>
        </div>

        <div class="container" id="traction">
          <img src="img/traction.png"/>
        </div>

        <div class="container tire-container-container">
          <div class="tire-container FL" id="FL">
            <img src="img/tire.png" class="tire" alt="tireFL">
            <div id="FLtire-bar" class="tire-bar">
              <div id="FLtire-bar-fill-red"></div>
              <div id="FLtire-bar-fill-white"></div>
            </div>
          </div>
          <div class="tire-container FR" id="FR">
            <img src="img/tire.png" class="tire" alt="tireFR">
            <div id="FRtire-bar" class="tire-bar">
              <div id="FRtire-bar-fill-red"></div>
              <div id="FRtire-bar-fill-white"></div>
            </div>
          </div>
          <div class="tire-container RL" id="RL">
            <img src="img/tire.png" class="tire" alt="tireRL">
            <div id="RLtire-bar" class="tire-bar">
              <div id="RLtire-bar-fill-red"></div>
              <div id="RLtire-bar-fill-white"></div>
            </div>
          </div>
          <div class="tire-container RR" id="RR">
            <img src="img/tire.png" class="tire" alt="tireRR">
            <div id="RRtire-bar" class="tire-bar">
              <div id="RRtire-bar-fill-red"></div>
              <div id="RRtire-bar-fill-white"></div>
            </div>
          </div>
        </div>
        <div class="container" id="container-clock">
          <div class="time" id="clock">00:00</div>
        </div>
      </div>
      <div id="load"></div>
    </div>
  </div>
</body>

<script src="src/dash-scripts.js"></script>
<script src="src/golfr-scripts.js"></script>
<script src="src/shift-lights.js"></script>
<script src="src/config.js"></script>
<script src="src/telemetry.js"></script>
<script src="src/config.js"></script>  <!-- Intentional Duplicate -->

<script src="src/animate.js"></script>

</html>