<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="data/manifest.json">
  <link rel="stylesheet" type="text/css" href="css/index-style.css" />
</head>

<body style="background-color:#999999">
  <div id="fdtModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="container"></div>
      <div class="text">Are you sure you want to proceed?</div>
      <div class="text">Doing so will kill the current process</div>
      <button id="yesBtn" class="modalButton">Yes</button>
      <button id="noBtn" class="modalButton">No</button>
    </div>
  </div>

  <div id="scaleModal" class="modal">
    <div id="selectModal" class="modal-content">
      <span class="close">&times;</span>
      <div class="text">Select Positon: </div>
      <button class="modalButton scaleBtn">Custom</button>
    </div>
  </div>

  <div id="scaleModalAdjust" class="modal">
    <div class="modal-content">
      <span class="close" id="scaleClose">&times;</span>
      <div class="text">Adjust the dash scaling and position:</div>
      <div class="button-container">
        <button id="scaleUpBtn" class="modalButton">Scale Up</button>
        <button id="moveUpBtn" class="modalButton">Move Up</button>
        <button id="scaleDownBtn" class="modalButton">Scale Down</button>
        <button id="moveDownBtn" class="modalButton">Move Down</button>
      </div>
      <input type="text" id="scaleNameInput" placeholder="Enter name"
        style="width: 80%; padding: 10px; font-size: 16px; margin-top: 20px;">
      <button id="saveBtn" class="modalButton saveButton">Save</button>
    </div>
  </div>

  <div id="configModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="container"></div>
      <div class="text">Select Dash:</div>
      <div class="button-row">
        <button id="dash-golfr" class="dashBtn modalButton configBtn">Golf R</button>
        <button id="dash-rally" class="dashBtn modalButton configBtn">Rally</button>
        <button id="dash-tcr" class="dashBtn modalButton configBtn">TCR</button>
        <button id="dash-simhub" class="dashBtn modalButton configBtn">Sim Hub</button>
      </div>
      <br>
      <div class="text">Select Shift Light Type:</div>
      <div class="button-row">
        <button id="shift-off" class="modalButton configBtn">Off</button>
        <button id="shift-leftRight" class="modalButton configBtn">Left Right</button>
        <button id="shift-outsideIn" class="modalButton configBtn">Outside In</button>
      </div>
      <br>
      <div class="text">Select Split Type:</div>
      <div class="button-row">
        <button id="split-class" class="modalButton configBtn">Class</button>
        <button id="split-car" class="modalButton configBtn">Car</button>
        <button id="split-session" class="modalButton configBtn">Session</button>
      </div>
    </div>
  </div>

  <div id="portModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="container"></div>
      <div class="text">Port Configuration</div>
      <br>
      <div style="display: flex; align-items: center; justify-content: space-between; margin: 20px 0;">
        <div class="text" style="margin: 0; margin-right: -100px;">Use Custom Port:</div>
        <label class="switch">
          <input type="checkbox" id="portToggle">
          <span class="slider"></span>
        </label>
      </div>
      <br>
      <div class="text">Port Number (default: 9999):</div>
      <input type="number" id="portInput" placeholder="20778" min="1024" max="65535"
        style="width: 80%; padding: 10px; font-size: 16px; margin-top: -10px;">
      <br>
      <br>

      <div class="text">Sim Hub Dash URL</div>
      <input type="url" id="simHubInput" placeholder=""
        style="width: 80%; padding: 10px; font-size: 16px; margin-top: -10px;">
      <button id="portSaveBtn" class="modalButton saveButton">Save</button>
    </div>
  </div>

  <!-- Game Buttons - Dynamically loaded from games.json -->

  <button id="game-stop" class="large-button gameBtn" style="background-color: red; border: 2px solid red;">Stop</button>
  <!-- <button id="scale" class="large-button" style="position:fixed; bottom: 20px;">Scale Dash</button> -->
  <div class="bottom-buttons">
    <button id="scale" class="small-button">Scale Dash</button>
    <button id="config" class="small-button">Config</button>
    <button id="portConfig" class="small-button">Sim Hub</button>
  </div>
  <button id="dash" class="redirect"></button>
</body>

<style>

</style>

<script src="src/index-scripts.js"></script>
<script src="src/index-scale-scripts.js"></script>

</html>