<!DOCTYPE html>
<html lang="en">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<head>
    <meta charset="UTF-8">
    <title>Forza Telemetry Data</title>
    <!-- Plotly.js -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body style="background-color: #09080e;">
    <div class="centered">
        <img src="img/dash-background.png" alt="dash">
        <!-- Gas -->
        <div class="status-bar-container">
            <div class="status-bar">
                <div id="status-bar-fill"></div>
                <div id="status-bar-fill-white"></div>
            </div>
        </div>

        <!-- Gear -->
        <div class="gear-container">
            <div id="gear">N</div>
            <div id="gearmode"> Race</div>
        </div>

        <!-- time -->
        <div class="container container-time">
            <div class="time" id="time">00:00:00</div>
        </div>
        <div class="container container-best-time">
            <div class="time" id="best-time">00:00:00</div>
        </div>

        <!-- speed -->
        <div class="container container-speed">
            <div class="reflect">
                <div id="speed">0</div>
            </div>
            <div id="mph">mph</div>
        </div>

        <div class="container container-distance">
            <div id="distance">0 mi</div>
        </div>
    </div>
</body>
<script src="src/scripts.js"></script>

</html>